:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --darkcloud: url("media/darkcloud.png");
  --lightcloud: url("media/lightcloud.jpeg");
}

.light-theme {
  --background: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  --cloud: var(--lightcloud);
}
.dark-theme {
  --background: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
  --cloud: var(--darkcloud);
}

body {
  background: var(--background);
  color: var(--fontColor);
  font-family: monospace;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.btn {
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

#cloud {
  content: var(--cloud);
}
